<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TJG4RDWL1S"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-TJG4RDWL1S');
</script>
{% include meta_tags/base.html %}
{% include externals/styling.html %}
</head>
<body>
<div class="wrapper">
{% include header.html %}
{{ content }}
</div>
{% include externals/scripting.html %}
</body>
</html>